/* Initial CSS Reset */
*{
    margin: 0;
    padding: 0;
}

.base-font {
    font-family: 'Raleway', sans-serif;
    color: black;
}

/*navbar styling*/

.logo-tint-blue {
    background-color:rgb(191, 218, 228);
}

.a-nav {
    color:black;
    text-decoration:none;
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.a-nav:hover {
    color:547A87;
    text-decoration:none;
}

.white-bar {
    height:100px;
    background-color: white;
}

.a-logo{
    text-decoration: none;
}

.a-logo:hover{
    border:1px solid color:547A87;
}