/* Initial CSS Reset */
*{
    margin: 0;
    padding: 0;
}

.base-font {
    font-family: 'Raleway', sans-serif;
    color: black;
}

/*navbar styling*/

.logo-tint-blue {
    background-color:#87cefa;
    height: 65px;
}

.a-nav {
    color:black;
    text-decoration:none;
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.a-nav:hover {
    color:547A87;
    text-decoration:none;
    border-bottom: 2px solid white;
    
}

.white-bar {
    height:100px;
    background-color: white;
}

.a-logo{
    text-decoration: none;
}

.a-logo:hover {
    border:1px solid; color : 547A87; 
 }
.navbar-collapse {
    background-color: #87cefa;
}
/* Body Designing */
ul {
    list-style: none;
}
.main {

    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;

}

/* Flex Designing  */

/* Bottom Designing */
.bottom img {
    height: 100px;
    width: 100px;
}
#insightsocial {
    display: flex;
    justify-content: space-around;
}
.sublogo {
    display: flex;
    justify-content: space-around;
}

